@using MyBlog.Models.Users
@model UserModel

@{
    Layout = null;

}

<h3 class="text-center">List of Users</h3>
<table class="table table-striped table-bordered">
    <thead>
    <tr class="myTh">
        <th>ID</th>
        <th>LastName</th>
        <th>FirstName</th>
        <th>Email</th>
        <th >Edit</th>
    </tr>
    </thead>

    <tbody>

    @foreach (var i in @Model.AllUsers)
    {
        <tr class="text-right" id="userRow_@(i.ID)">
            <td class="text-center">@i.ID</td>
            <td>@i.LastName</td>
            <td>@i.FirstName</td>
            <td>@i.Email</td>
            <td>
                <a data-id="@i.ID" class="editUserLink glyphicon glyphicon-pencil"></a>
                <a data-id="@i.ID" class="deleteUserLink glyphicon glyphicon-trash"></a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <button id="showFormAddUser" class="btn btn-success">Add User</button>
</div>

<script src="~/Scripts/userFunctions.js">
</script>
